PARSE_SERVER_DOMAIN = "https://backend.ti.id"

PARSE_SERVER_PORT = "63003"

PARSE_APP_ID = "otm_mas"

PARSE_APP_NAME = "Maintenance Management System v1.0"

PARSE_MASTER_KEY = "pkey"

PARSE_REST_KEY = "rkey"

PARSE_JSCRIPT_KEY = "jkey"

PARSE_FILE_KEY = "fkey"

DATABASE_HOSTNAME = "127.0.0.1"
DATABASE_PORT = 5432
DATABASE_USERNAME = "admin"
DATABASE_PASSWORD = "123"
DATABASE_URI = "postgres://a:b@postgres:5432/every"

DATABASE_DEVELOPMENT_NAME = "every"
DATABASE_TEST_NAME  = "day"
DATABASE_PRODUCTION_NAME = "night"
DATABASE_DIALECT = "postgres"
